EXPO_PUBLIC_SUPABASE_URL=https://klrppkphsiunguhjiyjhh.supabase.co
EXPO_PUBLIC_SUPABASE_ANON_KEY=
OPENAI_API_KEY=
EXPO_PUBLIC_ADMOB_ANDROID_BANNER=ca-app-pub-1972507475258139/2538602180
EXPO_PUBLIC_ADMOB_ANDROID_INTERSTITIAL=ca-app-pub-1972507475258139/7100663729
EXPO_PUBLIC_ADMOB_IOS_BANNER=
EXPO_PUBLIC_ADMOB_IOS_INTERSTITIAL=
